.button{
    -fx-background-color: #2453FE;
    -fx-border-radius: 20;
    -fx-background-radius: 50px;
    -fx-text-fill: #ffff;
    -fx-text-alignment: center;
}
.button:hover {
    -fx-background-color: #002ED6; /* Hover background color */
}
.dash-button{
    -fx-background-color: #272727;
    -fx-padding: 0px 15px;
    -fx-background-radius: 12px;
}
.dash-button:hover{
    -fx-background-color:#1B1B1B;
}
.dash-button:focused{
    -fx-background-color:  #2453FE;
}

.table-view {
    -fx-background-color:transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 0 1 1 1;
    -fx-border-color: #404040;

}
.table-view .column-header-background{
    -fx-background-color: #2453FE;
    -fx-background-radius:8px;
    -fx-background-insets: 0 0 10 0;
}
.table-view .column-header, .table-view .filler{
    -fx-size:50px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color:transparent;

}

.table-view .column-header .label {
    -fx-text-fill: white ;
}

.scroll-pane{
    -fx-background-color: #1B1B1B;
}

.scroll-pane .scroll-bar{
    -fx-background-color:  #202020;
}